/*
首页
 */
.boxes {
    padding-top: calc(30% - 1.5rem);
    width: 100%;
}

.boxes .box {
    height: 4rem;
    color: #212020;
    line-height: 9rem;
    text-align: center;
    font-weight: normal;
    transition: all .2s ease;
    font-size: 0.45rem;
    margin-bottom: 1.5rem;
    background-size: 95% 95% !important;
    background-repeat: no-repeat;
    background-position: center;
}
/*
详细分类页面
 */
.sort-container.am-tabs-d2 .am-tabs-nav, .sort-container .am-tabs-d2 .am-tabs-nav > .am-active {
    background: #fff;
    background-color: #fff;
}

.sort-container.am-tabs-d2 .am-tabs-nav > .am-active a, .sort-container.am-tabs-d2 .am-tabs-nav > .am-active:after {
    color: #F4C062;
    border-bottom-color: #F4C062;
}

.am-tabs-d2 .am-tabs-nav > .am-active {
    background-color: #fff;
    border-bottom: 2px solid #F4C062;
}

.am-tabs-d2 .am-tabs-nav > .am-active a, .am-tabs-d2 .am-tabs-nav a {
    line-height: 14px;
}

.am-tabs-d2 .am-tabs-nav > .am-active:after {
    border: 3px rgba(0, 0, 0, 0) solid;
}

.sort-container.am-tabs-d2 .am-tabs-nav li {
    height: 1.3rem;
}

.sort-container.am-tabs-d2 .am-tabs-nav a {
    display: inline-block;
}

.sort-container.am-tabs-d2 .am-tabs-nav a i {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    background-image: url("../images/icon.svg");
    background-size: cover;
}

.sort-container.am-tabs-d2 .am-tabs-nav a span {
    display: block;
}

.sort-container .am-tabs-bd {
    background: #F2F2F2;
    height: auto;
    overflow-y: scroll;
}

.g-box  {
    height: 4rem;
    background: #fff;
    overflow: hidden;
}
.g-box img {
    height: 3rem;
    width: 100%;
}
.g-box-title p {
    margin: 0;
}
.g-box-title p:nth-child(1) {
    color: #F4C062;
}
[data-am-widget=tabs] {
    margin: 0;
    margin-top: 10px;
}
.sort-container [class*=am-u-] + [class*=am-u-]:last-child {
    float: left;
}

.box-container {
    padding: 0 0.2rem .2rem !important;
}

.box-container .box {
    margin: 0;
    padding: 0.1rem;
}

.sort-title {
    padding-left: 0.2rem;
    line-height: 1rem;
    font-size: .35rem;
}

/*
视频详情页面
 */
body {
    /*overflow: hidden;*/
}

.video-title {
    padding: 5% 0;
    text-align: center;
    font-size: .5rem;
}

.video-title.tip-bottom {
    position: absolute;
    top: 12rem;
    font-size: .4rem;
    width: 100%;
    left: 0;
    color: #E92616;
}
.checkArticle {
    top: auto !important;
    bottom: 0;
}
.details-slider {
    padding: 0 5%;
    height: 100%;
}
.am-slider-default {
    margin: 0;
    box-shadow: none;
}
.slider-container {
    padding-top: 1rem;
}

.details-slider .am-slides li {
    width: 100%;
    border-radius: 5%;
    padding-bottom: .5rem;
    background-color: #F6CECE;
}

video {
    display: flex;
    height: auto;
    width: 94%;
    margin: 0 auto;
}

video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}
.title-txt {
    margin: 0;
    text-align: center;
    font-size: .4rem;
    /* margin-bottom: -42px; */
    padding: .5rem;
}
.details-slider .am-slides {
    padding-top:30%;
}
.am-slides .title-txt{

    position: relative;
    bottom: 0;
}
/*
文章详情页面
 */
.articleDetails-slider {
    height: 100%;
}

.details-img {
    margin: 0.5rem;
}
.details-img img {
    width:100%;
    border-radius: 5%;
}
.artile-title {
    margin-top: 0.5rem;
    text-align: center;
    font-size: .4rem;
}

/*
音频播放
 */
.circular{
    display:inline-block;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    border-radius:50%;
    display: flex;
    margin: 0 auto;
    margin-top: 20%;
}

.circular img{
    width:auto;
    height:100%;
}
.audio-container {
    text-align: center;
    margin-top: 20%;
}

/*
绘本详情
 */
.indicator{
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -40px;
}
.indicator li{
    margin-top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: rgba(0,0,0,0.5);
    text-indent: -9999px;
    list-style: none;
}
.indicator li.cur{
    background: rgba(255,255,255,0.5);
}
.landscape {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffd40a;
    font-size: 22px;
    background: #32373b;
}
.landscape img {
    margin-top: 20px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: landscape 1.5s infinite;
    animation: landscape 1.5s infinite;
}
@-webkit-keyframes landscape {
    0% {
        -webkit-transform: rotate(0deg);
    }
    30% {
        -webkit-transform: rotate(-90deg);
    }
    70% {
        -webkit-transform: rotate(-90deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@keyframes landscape {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-90deg);
    }
    70% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.circular.audioDetails-img{
    -webkit-transform: rotate(360deg);
    animation: rotation 10s linear infinite;
    -moz-animation: rotation 10s linear infinite;
    -webkit-animation: rotation 10s linear infinite;
    -o-animation: rotation 10s linear infinite;
}